{% extends 'partials/layout.njk' %}
{% block title %}Home{% endblock %}
{% block content %}
    {% for i in range(0,10) %}
        <h1>Hello heolll {{ name }}{{i}}</h1>
    {% endfor %}
{% endblock %}